@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");
@import "tailwindcss";
html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.bangla {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}
.bangla-bold {
  font-family: "Tiro Bangla", serif;
  font-weight: 900;

  font-style: normal;
  font-variant: normal;
}
